/* GENERAL RULES */

*{
  font-family: 'Roboto';
}


/* UTILITY */
.relative{
  position: relative;
}

.tr-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vanilla-list{
  list-style: none;
  padding: 0;
}

.bigicon{
  font-size: 30px;
}

.full{
  height: 100%;
}

.circle:hover .check:before{
  content: "\f057";
}

/* UTILITY: BUTTONS */
.btn-blue{
  border-color: #016AFF;
  color: #016AFF;
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.btn-account{
  background-color: #569AFF;
  color: white;
  width: 100%;
}

.btn-google{
  background-color: white;
  color: #8C8C8C;
  width: 100%;
}

/* UTILITY: MARGIN */
.mgtop{
  margin-top: 30px;
}

.mgtop-xl{
  margin-top: 60px;
}

.mgtop-s{
  margin-top: 10px;
}

.mgbot{
  margin-bottom: 30px;
}

.mgbot-xl{
  margin-bottom: 60px;
}

.mgbot-s{
  margin-bottom: 10px;
}

.no-mgtop{
  margin-top: 0;
}

.no-mgbot{
  margin-bottom: 0;
}

/* UTILITY: PADDING */
.padtop{
  padding-top: 30px;
}

.padtop-xl{
  padding-top: 60px;
}

.padtop-s{
  padding-top: 10px;
}

.padbot{
  padding-bottom: 30px;
}

.padbot-xl{
  padding-bottom: 60px;
}

.padbot-s{
  padding-bottom: 10px;
}

.no-padtop{
  padding-top: 0;
}

.no-padbot{
  padding-bottom: 0;
}

/* UTILITY: CONTAINERS */
.box{
  margin: 0 3% auto;
}

/* TYPOGRAPHY */
.white{
  color: white;
}

.black-light{
  color:black;
  font-weight: 400;
}

.greylight{
  color: #74809A;
  font-weight: 400;
}

.greydark{
  color: #637190;
}

.azure{
  color: #24b8e5;
}

.azure-light{
  color: #91B0FF;
}

.blue-light{
  color: #2f6cf9;
}

/* HEADER */
#navbar{
  position: fixed;
  width: 100%;
  background-color: white;
  margin-bottom: 100px;
  z-index: 1;
  line-height: 40px;
  vertical-align: middle;
}

#navbar .lx-col img{
  height: 30px;
}

#navbar .hamburger{
  font-size: 20px;
}

#navbar ul li a{
  color: black;
}

#navbar .form-control,
#navbar .form-control select{
  border: 0;
  -webkit-box-shadow: none;
  color: black;
  font-family: 'Roboto';
}

/* HEADER: SECTION JUMBOTRON */
#jumbotron{
  background-image: url('../img/bg-banner-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: white;
}

#jumbotron .lx-col .bigtext{
  font-size: 54px;
  color: white;
}

#jumbotron .lx-col .medtext{
  font-size: 32px;
  color: white;
}

#jumbotron .lx-col p{
  font-size: 18px;
  font-weight: 400;
}

#jumbotron .rx-col{
  background-color: white;
  color: black;
}

#jumbotron .icon-google{
  position: absolute;
  height: 20px;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
}

/* MAIN */

/* MAIN: SECTION INNOVATIVE */

#innovative{
  background-color: #F4F5F9;
}

#innovative .logo{
  height: 60px;
}

#innovative img{
  width: 100%;
  padding: 10px;
}

/* MAIN: SECTION DEPLOY */
#deploy .lx-col li{
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}

#deploy .rx-col img{
  height: 30px;
}

#deploy .cell{
  height: 180px
}

/* MAIN: SECTION DESIGNED */
#designed{
  background-color: #F4F5F9;
}

#designed .dashboard{
  height: 350px;
}

#designed img{
  height: 100%;
  width: 100%;
}

#designed .list-inline>li {
  font-size: 15px;
  padding: 0 1px;
}

/* MAIN: SECTION FEATURES */

/* MAIN: SECTION SERVICE */
#service{
  background: rgb(21,92,241);
  background: linear-gradient(180deg, rgba(21,92,241,1) 0%, rgba(2,30,135,1) 83%);
}

#service ul li{
  border-bottom: 1px solid white;
  padding: 0 10px;
}

#service ul li:last-child{
  border-bottom: 0;
}

#service .row h6 a:hover{
  color: white;
}
/* MAIN: SECTION DEVELOPMENT */
#development{
  background-color: #F4F5F9;
}

#development .dashboard{
  height: 350px;
}

#development .dashboard .dash{
  height: 100%;
  background-color: white;
}

#development .dashboard img{
  height: 100px;
}

#development .list-inline>li {
  font-size: 15px;
  padding: 0 1px;
}

/* MAIN: SECTION GET STARTED */
#getstarted{
  height: 200px;
  background: rgb(21,92,241);
  background: linear-gradient(180deg, rgba(21,92,241,1) 0%, rgba(2,30,135,1) 83%);
}

#getstarted button{
  font-size: 16px;
}

#getstarted h2{
  margin-top: 0;
}

/* FOOTER */
#main-footer{
  background-color: #031C4E;
}

#main-footer img{
  height: 50px;
}

#main-footer ul li a{
  color: #74809A;
}

#main-footer .social{
  font-size: 18px;
}

#main-footer .social a:hover .twitter{
  color: #00A9E8;
}

#main-footer .social a:hover .facebook{
  color: #3C548F;
}

#main-footer .social a:hover .instagram{
  color: #CC2C8D;
}

#main-footer .social a:hover .youtube{
  color: #F60000;
}

#main-footer .social a:hover .linkedin{
  color: #0670AE;
}

/* SHARK */
#shark .box-text {
  position: fixed;
  display: inline-block;
  width: 250px;
  bottom: 10px;
  height: 60px;
  padding: 6px;
  background-color: white;
  border-radius: 5px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
}

#shark .box-text:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  /* Rotazione */
  transform: rotate(45deg);
}

#shark .logo-shark{
  display: inline-block;
  position: fixed;
  border-radius: 5px;
  background-color: #0e1ed1;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
}

#shark .logo-shark img{
  height: 55px;
  padding: 8px;
}

#shark .logo-shark h5{
  position: absolute;
  bottom: 52%;
  color: white;
  border: 4px solid white;
  border-radius: 50%;
  background-color: red;
  padding: 2px 5px;
  left: 73%;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
}

/* Large Device */
@media all and (min-width: 992px){
  #shark .box-text {
    right: 100px;
  }

  #shark .box-text:before {
    bottom: 15px;
    right: -5px;
  }

  #shark .logo-shark{
    bottom: 10px;
    right: 20px;
  }

}

/* Medium Device */
@media all and (min-width: 768px) and (max-width: 991px){
  #shark .box-text {
    left: 100px;
  }

  #shark .box-text:before {
    bottom: 15px;
    left: -5px;
  }

  #shark .logo-shark{
    bottom: 10px;
    left: 20px;
  }

  #designed .dashboard{
    height: 200px;
  }

}

/* Small Device */
@media all and (max-width:767px){
  #shark .box-text {
    left: 20px;
  }

  #shark .box-text:before {
    bottom: 55px;
    left: 29px;
  }

  #shark .logo-shark{
    bottom: 80px;
    left: 20px;
  }

  #innovative .row .logo:nth-child(2) img,
  #innovative .row .logo:nth-child(3) img,
  #innovative .row .logo:last-child img{
    width: 90%;
    margin: 0 auto;
  }

  #designed .dashboard{
    height: 200px;
  }

}
